@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    @include flexCenter();
}

button {
    position: relative;
    background: orangered;
    border: none;
    color: white;
    padding: 15px 24px;
    font-size: 1.4rem;
    box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
    outline: none;
    cursor: pointer;

    &::before {
        position: absolute;
        display: block;
        content: "";
        height: 0;
        width: 0;
        border: solid 6px transparent;
        border-right: solid 6px hsl(16, 100%, 30%);
        border-left-width: 0;
        top: 0;
        left: -6px;
    }

    &::after {
        position: absolute;
        display: block;
        content: "";
        height: 0;
        width: 0;
        border: solid 6px transparent;
        border-top: solid 6px hsl(16, 100%, 30%);
        border-bottom-width: 0;
        right: 0;
        bottom: -6px;
    }

    &:hover {
        background:  hsl(16, 100%, 45%);
    }

    &:active {
        background: hsl(16, 100%, 40%);
        top: 3px;
        left: -3px;
        box-shadow: -3px 3px 0 hsl(16, 100%, 30%);
    }

    &:active::before {
        border: solid 3px transparent;
        border-right: solid 3px hsl(16, 100%, 30%);
        border-left-width: 0;
        left: -3px;
    }

    &:active::after {
        border: solid 3px transparent;
        border-top: solid 3px hsl(16, 100%, 30%);
        border-bottom-width: 0;
        bottom: -3px;
    }
}

.scoreboard {

}

.timing {

}

.home-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
}

.home-menu_link {
    display: inline;
    text-align: center;
}

.home-menu_image {
    width: 200px;
    height: 200px;
}