<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="WackMole.css">
</head>
<body>
    <h1>Whack a mole</h1>
    <%- include('../partials/backToHomeBtn.ejs') %>
</body>
<script src="WackMole.js" charset="utf-8"></script>
</html>