<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="TheSnake.css">
    <script src="TheSnake.js"></script>
</head>
<body>
    <h1>the snake</h1>
    <%- include('../partials/backToHomeBtn.ejs') %>
</body>
</html>