<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="Tetris.css">
    <script src="Tetris.js"></script>
</head>
<body>
    <h1>titris</h1>
</body>
</html>