.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;

}
.grid div {
    height: 40px;
    width: 40px;
    cursor: pointer;
    background-color: orange;
    border: 1px solid grey;
    box-sizing: border-box;
}

.checked {
    background-color: olive !important;
    font-size: 20px;
    text-align: center;
}
