<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="./DeathRace.css">
    <script src="DeathRace.js"></script>
</head>
<body>
    <h1>Death Race</h1>
    <%- include('../partials/backToHomeBtn.ejs') %>
</body>
</html>