<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="./MemoryGame.css">
    <script src="MemoryGame.js" charset="utf-8"></script>
</head>
<body>
    <h1>Memory Game</h1>
</body>
</html>