<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="SpaceInvader.css">
    <script src="SpaceInvader.js"></script>
</head>
<body>
    <h1>space invaders</h1>
    <%- include('../partials/backToHomeBtn.ejs') %>
</body>
</html>