<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="SpaceInvador.css">
    <script src="SpaceInvador.js"></script>
</head>
<body>
    <h1>space invaders</h1>
</body>
</html>