<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="./Minesweeper.css">
    <script src="Minesweeper.js" charset="utf-8"></script>
</head>
<body>
    <h1>Minesweeper</h1>
    <%- include('../partials/backToHomeBtn.ejs') %>
</body>
</html>